In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df = pd.DataFrame()

In [4]:
df['age'] = [14, 12, 11, 10, 8, 6, 8]

In [5]:
np.mean(df['age'])

9.857142857142858

In [6]:
np.median(df['age'])

10.0

In [7]:
import statistics
statistics.mode(df['age'])

8

In [8]:
df['age'].var()

7.476190476190475

In [9]:
np.var(df.age)

6.408163265306122

In [10]:
np.std(df['age'], ddof=1)

2.734262327610589

In [12]:
np.std(df['age'], ddof=1)/np.sqrt(len(df['age']))

1.0334540197243192

In [13]:
df.describe()

             age
count   7.000000
mean    9.857143
std     2.734262
min     6.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [14]:
df = pd.DataFrame()

In [17]:
df['age'] = [14, 12, 11, 10, 8, 7, 8]

In [18]:
df.describe()

             age
count   7.000000
mean   10.000000
std     2.516611
min     7.000000
25%     8.000000
50%    10.000000
75%    11.500000
max    14.000000

In [19]:
df = pd.DataFrame()

In [20]:
df['age'] = [14,12,11,10,8,7,1]

In [21]:
df.describe()

             age
count   7.000000
mean    9.000000
std     4.242641
min     1.000000
25%     7.500000
50%    10.000000
75%    11.500000
max    14.000000

In [23]:
import statistics
statistics.mode(df['age'])

StatisticsError: no unique mode; found 7 equally common values